<li ng-click="$ctrl.selectTask()"
    ng-class="['task-item', {'can-update': $ctrl.canUpdate(), 'selected-task': $ctrl.isSelected(), 'checked': $ctrl.task.checked, 'private': $ctrl.task.private}]">
    <input ng-if="$ctrl.canComplete()" ng-click="$ctrl.toggleChecked($event)" type="checkbox"
           ng-model="$ctrl.task.checked" class="toggle-checked"/>
    <button ng-if="$ctrl.canUpdate()" ng-click="$ctrl.togglePrivate($event)" class="toggle-private">
      <span ng-if="$ctrl.task.private">
      Private</span>
        <span ng-if="!$ctrl.task.private">
      Public
      </span>
    </button>
  <span class="text">{{$ctrl.task.name}}</span>
  <span class="email" ng-if="$ctrl.task.email">{{$ctrl.task.email}}</span>
  <button class="delete-button" ng-if="$ctrl.canDelete()" ng-click="$ctrl.deleteTask()">&times;</button>
</li>
